@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
body {
    font-family: 'Signika Negative';
    background-color: mediumaquamarine;
}

img {
    position: relative;
}

button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 275px;
    background-color: #05106e;
}

button:hover {
    opacity: 1
}

.div1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}