@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
body {
    font-family: 'Signika Negative';
    background-image: url("../img/DSC-notxt.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #6699;
    color: white;
}

iframe {
    position: absolute;
    width: 100%;
}

.contain {
    text-align: center;
    padding-right: 50%;
    width: 50%;
}